* {
  box-sizing: border-box;
  margin: 0px;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #ffffff; */
  /* background-color: #f0efef; */
  background-color: #eecc526e;
  color: #fffae5;
  /* background: linear-gradient(
    to left,
    #2b193d 0%,
    #2b193d86 30%,
    #2c365e59 50%,
    #484d6d86 60%,
    #484d6d 100%
  ); */

  font-family: "League Spartan", sans-serif;
  min-height: 100vh;

  /* display: grid;
  grid:
    "c1 h s1"
    "c2 m s2"
    "c3 m s3"
    "c4 m s4"
    "c5 f s5";
  grid-template-columns: 5em 1fr 5em; */

  /* grid-template-rows: 45px 1fr 1fr 1fr; */ /*! Sjekk denne tilbake om grids blir føkka! */
}

/* aside {
  grid-area: c;
  min-width: 12em;
} */

.container-1 {
  grid-area: l;
  min-width: 12em;
}

/*//////////////////////////////////////////////////////////////*/
/* *Typograhpy */
/*//////////////////////////////////////////////////////////////*/

h1 {
  font-size: 3em;
  line-height: 1.1;
  letter-spacing: 5px;
  color: #030104;
  /* text-shadow: 0px 0px 3px gold; */
  /* -webkit-text-stroke: #eecb52;
  -webkit-text-stroke-width: 1px; */
}

h2 {
  font-size: 3em;
  color: #030104;
  /* text-shadow: 0px 0px 3px gold; */
}

/* h3 {
  margin-top: auto;
  margin-bottom: auto;
  padding-inline: 50px;
  line-height: 2;
} */

p {
  line-height: 2;
  color: #35444f;
  /* transition: 1s all; */
}

h3 {
  color: #35444f;
  padding-bottom: 1em;
}

span {
  font-size: larger;
  color: #922003;
  /* text-shadow: 0px 0px 3px #030104; */
  text-shadow: none;
}

figure {
  height: fit-content;
}

/*//////////////////////////////////////////////////////////////*/
/* * Navigation section */
/*//////////////////////////////////////////////////////////////*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  list-style-type: none;
  width: 100%;
  z-index: 99;
  background-color: #fffae5;
  opacity: 0.9;
  border-bottom: 2px solid #eecb52;
}

nav a {
  float: left;
  font-weight: 600;
  align-self: center;
  position: relative;
  margin: 0 1em 0 1em;
  color: #726020;
  text-decoration: none;
  padding: 0.5em 0 1.2em 1em;
  height: 0;
  font-size: 18px;
}

nav a:active {
  transform: scale(1.05);
  color: #eecb52;
}

nav img {
  cursor: pointer;
  height: 80px;
  float: left;
  position: absolute;
  margin: 3px;
  z-index: 4;
  transition: all 1s;
}

nav img:hover {
  transform: scale(1.3) rotate(360deg);
  transform-origin: center;
}

/*////////////////////////////////////////*/
/* * Header section */
/*////////////////////////////////////////*/

header {
  /* background: linear-gradient(
    to right,
    #fafafab9 0%,
    #fafafab9 10%,
    #e7e6e6b9 50%,
    #fafafab9 90%,
    #fafafab9 100%
  ); */
  color: #2b193d;
  grid-area: h;
  display: flex;
  opacity: 0.9;
  justify-content: center;
  /* align-items: center; */
  padding: 9.1em 9.1em 26em 9.1em;
}

header article {
  /* border: 2px solid #aaae8e; */
  /* border-radius: 8px; */
  /* background-color: #4b8f8c4b; */
  height: fit-content;
  padding: 1em 0em 1em 1em;
  /* border: 2em #4b8f8c4b solid; */
  /* transition: 0.5s ease-in-out; */
}

header p {
  line-height: 2;
  max-width: 15em;
}

header img {
  height: 35rem;
  z-index: 0;
  transform: translateY(-250px);
  transition: all 1s ease-out;
}

header figure.img_wrap {
  display: grid;
  grid-template-columns: 1fr 7em 7em;
  grid-template-rows: repeat(15, 2.4em);
}

/*////////////////////////////*/
/* * CV */
/*////////////////////////////*/

/* .img_wrap.cv {
  display: flex;
} */

.cv {
  height: 150px;
  z-index: 1;
  transition: all 1s cubic-bezier(0.35, -0.37, 0.27, 1.55);
}

.cv.standard {
  grid-row: 10;
  grid-column: 2;
}

/* ? how to remove box so its not clickable? 
? Have to have an anchor tag for image link... */
a.cv.standard {
  /* cursor: default; */
  background-color: #1a3d19;
}

img.cv.standard:hover {
  transform: translateY(-230px) translateX(-40px);
  height: 200px;
}

.cv.fancy {
  /* cursor: default; */
  grid-row: 10;
  grid-column: 3;
}

/* ? how to remove box so its not clickable? 
? Have to have an anchor tag for image link... */
a.cv.fancy {
  /* cursor: default; */
  background-color: #2b193d;
}

img.cv.fancy:hover {
  transform: translateY(-230px) translateX(5px);
  height: 200px;
}

/* .cv_text {
  text-decoration: none;
  z-index: 3;
  font-weight: bold;
  margin: auto;
  padding: 3px 5px;
  background-color: #fffae5;
  color: #726020;
} */

/* .cv_text.standard {
  grid-row: 11;
  grid-column: 2;
} */

/* .cv_text.standard:hover.cv.standard {
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
} */

/* .cv_text.fancy {
  grid-row: 10;
  grid-column: 3;
} */

/* .cv_text:hover {
  transform: scale(1.05);
  color: #eecb52;
} */

/*////////////////////////////*/
/* * Header divider */
/*////////////////////////////*/

header section.divider {
  opacity: initial;
  padding: 100px;
  display: flex;
  width: 95em;
  position: absolute;
  z-index: 1;
  top: 649px;
  /* background-image: linear-gradient(
    to left,
    rgb(83, 169, 83) 0%,
    rgb(171, 87, 171) 100%
  ); */
  background-color: #fffae5;
  /* box-shadow: 1px 1px 3px #b4b1a5; */
  /* border-top: 1px solid rgba(54, 1, 52, 0.938); */
}

.divider p {
  max-width: 100em;
  line-height: 1.5;
  padding: 1em;
  font-size: 1.2em;
  /* color: #4b8f8c; */
}

/*////////////////////////////////////////*/
/* * Main section */
/*////////////////////////////////////////*/

main {
  grid-area: m;
  text-align: center;
  justify-content: center;
  background-color: #fffae5;
  margin-inline: 5em;
}

main h2 {
  padding: 1em;
}

section h2:first-child {
  font-size: 100px;
}

/*////////////////////////////////////////*/
/* * Knowledge section */
/*////////////////////////////////////////*/

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0em 5em 0em;
  margin-bottom: 5em;
  margin-inline: 10em;
  border-bottom: 5px solid #eecb52;
}

/* .container-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: 5em 11em 11em;
  row-gap: 1em;
  padding: 5em 0em 5em 0em;
  margin-bottom: 3em;
  margin-inline: 10em;
} */

.container-1 h2 {
  grid-column: 1/10;
  margin-bottom: 20px;
  align-self: center;
}

.container-1 figure.img_wrap {
  /* border: 2px solid #aaae8e; */
  width: 8em;
  grid-row-start: 2;
  /* grid-column: 2 9; */
  border-radius: 8px;
  /* background-color: #c5979d; */
  transition: 0.5s ease-in-out;
  /* box-shadow: 0px 0px 10px 0px #c5979d; */
  margin-inline: 2em;
}

.container-1 figure {
  margin: 1em;
}

.container-1 figure img {
  height: 80px;
  cursor: pointer;
  /* border: 1px; */
  padding: 5px;
  /* background-color: #c5979d; */
  /* box-shadow: inset 0 0 5px 1px #8d6a6e; */
  /* border-radius: 5px; */
  /* border-radius: 8px; */
  /* box-shadow: inset 1px 1px black; */
  /* border: 1.3px solid #aaae8e; */
  /* box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.205); */
  margin: 0 auto 1em auto;
  /* margin-bottom: 30px; */
  /* padding: 20px; */
}

p.description {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em;
  margin: 0.8em;
  /* padding: 1em; */
  /* border-bottom: 2px solid #aaae8e; */
  /* border-radius: 5px; */
  /* background: #c5979d; */
  /* box-shadow: inset 1px 4px 5px rgba(0, 0, 0, 0.205); */
  /* visibility: hidden; */
  /* display: none; */
  /* visibility: visible; */
  /* opacity: 0; */
  /* opacity: 1; */
  color: #35444f;
  transition: opacity 0.5s, visibility 0.5s;
}

/* .container-1 figure.img_wrap:hover .description {
  visibility: visible;
  display: block;
  background: #4b8f8c;
  color: #c5979d;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.205);
  opacity: 1;
  transform-origin: center;
} */

/* .container-1 .img_wrap:hover {
  position: relative;
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 5px #c5979d;
} */

/* .container-1 figure.img_wrap:hover img {
  background-color: #4b8f8c;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.205);
} */

/*TODO: still not working. Content below is getting pushed on hover. Fixed by removing border and using box-shadow */
/* .container-1 .img_wrap:hover .container-1 {
  padding-bottom: 1000px;
  background-color: #c2dd15;
} */

/*////////////////////////////////////////*/
/* * Work wishes section */
/*////////////////////////////////////////*/

/* Currently removed */

.container-2 {
  display: grid;
  padding: 1em;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-template-columns: 17em 17em 17em 17em; /*TODO fiks så gridden er i midten av siden */
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 5px solid #eecb52;
}

.container-2 h2 {
  grid-row: 1;
  grid-column: 1/7;
  margin-bottom: 20px;
  /* align-self: center; */
}

.container-2 p {
  line-height: 2;
  max-width: inherit;
  /* color: #c5979d; */
}

/*////////////////////////////////////////*/
/* * Skills section */
/*////////////////////////////////////////*/

.container-3 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #e0e0e0; */
  color: #607b7d;
  padding: 5em;
  border-bottom: 5px solid #eecb52;
  margin-inline: 5em;
}

.container-3 h2 {
  grid-row: 1;
  grid-column: 1/4;
  /* text-align: center; */
}

/* .container-3 h3 {
  border-bottom: 2px solid #aaae8e;
} */

.container-3 p {
  padding: 5em;
  /* grid-row: 3 ; */
  /* grid-column: 1/4; */
  /* color: #c5979d; */
  /* justify-self: center; */
}

/* .container-3 figure {
  text-align: center;
} */

.container-3 img {
  /* justify-self: center; */
  height: 150px;
  /* border-radius: 25px; */
  padding: 20px;
  border: 4px solid #eecb52;
}

/*////////////////////////////////////////*/
/* * Projects section */
/*////////////////////////////////////////*/

/* .container-4 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  color: #607b7d;
  padding: 50px;
  margin-inline: 5em;
} */

.container-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0em 5em 0em;
  margin-bottom: 5em;
  margin-inline: 10em;
  /* border-bottom: 5px solid #eecb52; */
}

.container-4 h2 {
  grid-row: 1;
  grid-column: 1/5;
  /* text-align: center; */
}

.container-4 h3 {
  justify-self: center;
  /* border-bottom: 2px solid #aaae8e; */
}

.container-4 p {
  padding: 5em;
  /* grid-row: 4 ; */
  /* grid-column: 1/4; */
  /* color: #c5979d; */
  /* justify-self: center; */
}

/* .container-4 figure {
  text-align: center;
} */

.container-4 figure.img_wrap {
  /* border: 2px solid #aaae8e; */
  /* width: 8em; */
  grid-row-start: 2;
  /* grid-column: 2 9; */
  /* border-radius: 8px; */
  /* background-color: #c5979d; */
  transition: 0.5s ease-in-out;
  /* box-shadow: 0px 0px 10px 0px #c5979d; */
  margin-inline: 4em;
}

.container-4 img {
  /* justify-self: center; */
  height: 150px;
  /* border-radius: 25px; */
  /* padding: 20px; */
  border: 2px solid #eecb52;
}

/* @media only screen and (max-width: 768px) { */
/* For mobile phones: */
/* * {
    grid-column: 100%;
  }
} */
